@page "/"
@using Conesoft.Blazor.Components.Interfaces
@using Conesoft.Blazor.Components
@using System.Reflection
@using System.Text.RegularExpressions
@using Conesoft.Plugin.AdminPage.Components.Controls

@rendermode InteractiveServer

<CascadingAuthenticationState>
    <UserHeaderNav>
        <HomeButtonContent>⌂</HomeButtonContent>
        <NavContent>
            <NavLink>host</NavLink> ▸
            <NavLink Match=NavLinkMatch.All href="/">services</NavLink>
        </NavContent>
    </UserHeaderNav>
    <AuthorizeView Roles="Admin, Editor, Viewer">
        <Authorized>
            <main>
                <Categories/>
            </main>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>