<!DOCTYPE html>
<html lang="en">

<head>
    <PageTitle>conesoft admin page</PageTitle>
    <HtmlHead Cdn="new" />
    <MetaTags Title="conesoft admin page" Description="simple admin page plugin for the server host" Url="https://admin.conesoft.net" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <BootBlazor />
</body>

</html>
